*.Rproj.user
*.Rhistory
**/**/*.RData
*.Ruserdata
*.html
*.dta
*.sav
*.log
*.tex
*.pdf
Scratch/
Homework/Data/
Homework/Keys/
.Rproj.user
Exams/
Tutorials/rsconnect/
**/**/BH*
Development
Econ 343 Visualize it.Rmd
